@import '../../../../globals';

.button-container {
  border: 1px $color-gold--main solid;
  width: 150px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-gold--main, 0);
  padding: 8px 36px;

  &:hover{
    cursor: pointer;
    background-color: $color-gold--main;

    h4{
      letter-spacing: 0.1rem;
      color: black;
    }
  }

  h4{ 
    letter-spacing: 0.1rem;
    color: white;
  }
}