@import '../../../../../globals';

.nav-item {
  margin: 20px;
  a { 
    margin: 10px;
    color: white; 
    letter-spacing: 0.3rem;
    text-decoration: none;

    &:hover { 
      color: $color-gold--main;
      cursor: pointer;
    }
  }
}

